<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Онлайн графический редактор</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Онлайн графический редактор (OpenCV)</h1>

<div class="container">

    <div class="panel">
        <h3>Загрузка изображения</h3>
        <input type="file" id="file">
        <button onclick="upload()">Загрузить</button>
        <h3>Вырезка произвольной формы</h3>
        <canvas id="canvas" width="500"></canvas><br>
    </div>

    <div class="panel">
        <h3>Масштабирование</h3>
        <label>fx: <input type="number" id="fx" value="1" step="0.1"></label>
        <label>fy: <input type="number" id="fy" value="1" step="0.1"></label>
        <button onclick="resize()">Применить</button>
    </div>

    <div class="panel">
        <h3>Обрезка</h3>
        <input type="number" id="x" placeholder="x">
        <input type="number" id="y" placeholder="y">
        <input type="number" id="w" placeholder="width">
        <input type="number" id="h" placeholder="height">
        <button onclick="crop()">Вырезать</button>
    </div>

    <div class="panel">
        <h3>Отражение</h3>
        <button onclick="flip(1)">Горизонтально</button>
        <button onclick="flip(0)">Вертикально</button>
        <button onclick="flip(-1)">Обе оси</button>
    </div>

    <div class="panel">
        <h3>Поворот</h3>
        <input type="number" id="angle" placeholder="Угол (°)">
        <button onclick="rotate()">Повернуть</button>
    </div>

    <div class="panel">
        <h3>Яркость / Контраст</h3>
        <label>Контраст:
            <input type="range" min="0.5" max="3" step="0.1" id="contrast" value="1.75">
        </label>
        <label>Яркость:
            <input type="range" min="-100" max="100" id="brightness" value="0">
        </label>
        <button onclick="brightness()">Применить</button>
    </div>

    <div class="panel">
        <h3>Цветовой баланс</h3>
        R <input type="range" min="-50" max="50" id="r">
        G <input type="range" min="-50" max="50" id="g">
        B <input type="range" min="-50" max="50" id="b">
        <button onclick="color()">Применить</button>
    </div>

    <div class="panel">
    <h3>Размытие изображения</h3>

    <label>Тип фильтра:
        <select id="blurType">
            <option value="average">Среднее</option>
            <option value="gaussian">Гауссово</option>
            <option value="median">Медианное</option>
        </select>
    </label>

    <label>Размер ядра:
        <input type="number" id="kernel" value="5" min="3" step="2">
    </label><button onclick="blurPhoto()">Применить</button>
    </div>


    <div class="panel">
    <h3>Сохранение изображения</h3>

    <label>Формат:
        <select id="format" onchange="toggleQuality()">
            <option value="JPEG">JPEG</option>
            <option value="png">PNG</option>
            <option value="tiff">TIFF</option>
        </select>
    </label>

    <div id="qualityBlock">
        <label>Качество (JPEG):
            <input type="range" id="quality" min="10" max="100" value="95">
        </label>
    </div>

    <button onclick="saveImage()">Сохранить</button>
</div>
    <div class="panel">
    <h3>Добавление шума</h3>

    <label>Тип шума:
        <select id="noiseType">
            <option value="gaussian">Гауссов</option>
            <option value="sp">Соль и перец</option>
        </select>
    </label>

    <label>Интенсивность:
        <input type="range" id="noiseAmount"
               min="0.001" max="0.1" step="0.001" value="0.02">
    </label>

    <button onclick="applyNoise()">Применить</button>
</div>


</div>

<script src="/static/script.js"></script>
</body>
</html>
